.card-wrapper {
  margin-right: 180px;
  margin-left: 180px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 126px 90px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
  }

  ul{
    padding: 0;
  }

